extends layout

block content
    main(role='main' class="about shadow-sm")
        div(class='container-fluid bg-light')
                h1 Om oss
        div(class='container')
            div(class='row')
                div(class='col-sm-12 mx-auto')
                    h2 Vad vi gör
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem veritatis dolorum, pariatur ratione quidem animi aut qui illo. Odio voluptates neque suscipit debitis, optio reiciendis perspiciatis. Maiores nemo cumque numquam.
                div(class='col-sm-12 mx-auto')
                    h2 Vilka jobbar här
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim fugiat eius error animi vel cupiditate temporibus, reiciendis ut quaerat, iste ea tempora laborum ipsam cumque corporis quo obcaecati beatae pariatur!