extends layout

block content
    main(role='main' class='index bg-light shadow-sm')
        div(class='jumbotron jumbotron-fluid')
            div(class='col-sm-12 mx-auto')
                img(class='' src="img/cray.jpg")
            div(class='col-sm-12 mx-auto')
                h1 Välkommen till Bildterapihuset!
                p.lead Välkommen till kreativt skapande i Bildterapihuset.
        div(class='col-sm-12 mx-auto')
            include news.pug